In [1]:
import pandas as pd

df = pd.read_csv("../data/wrime.tsv", sep="\t")
df.columns.tolist()

['Sentence',
 'UserID',
 'Datetime',
 'Train/Dev/Test',
 'Writer_Joy',
 'Writer_Sadness',
 'Writer_Anticipation',
 'Writer_Surprise',
 'Writer_Anger',
 'Writer_Fear',
 'Writer_Disgust',
 'Writer_Trust',
 'Reader1_Joy',
 'Reader1_Sadness',
 'Reader1_Anticipation',
 'Reader1_Surprise',
 'Reader1_Anger',
 'Reader1_Fear',
 'Reader1_Disgust',
 'Reader1_Trust',
 'Reader2_Joy',
 'Reader2_Sadness',
 'Reader2_Anticipation',
 'Reader2_Surprise',
 'Reader2_Anger',
 'Reader2_Fear',
 'Reader2_Disgust',
 'Reader2_Trust',
 'Reader3_Joy',
 'Reader3_Sadness',
 'Reader3_Anticipation',
 'Reader3_Surprise',
 'Reader3_Anger',
 'Reader3_Fear',
 'Reader3_Disgust',
 'Reader3_Trust',
 'Avg. Readers_Joy',
 'Avg. Readers_Sadness',
 'Avg. Readers_Anticipation',
 'Avg. Readers_Surprise',
 'Avg. Readers_Anger',
 'Avg. Readers_Fear',
 'Avg. Readers_Disgust',
 'Avg. Readers_Trust']

In [2]:
df_writer = df.loc[:, "Writer_Joy":"Writer_Trust"]
df_reader1 = df.loc[:, "Reader1_Joy":"Reader1_Trust"]
df_reader2 = df.loc[:, "Reader2_Joy":"Reader2_Trust"]
df_reader3 = df.loc[:, "Reader3_Joy":"Reader3_Trust"]
df_avg_readers = df.loc[:, "Avg. Readers_Joy":"Avg. Readers_Trust"]

In [3]:
sentiments = [
    "Joy",
    "Sadness",
    "Anticipation",
    "Surprise",
    "Anger",
    "Fear",
    "Disgust",
    "Trust",
]

In [4]:
df_mean = pd.DataFrame(
    {
        "Writer": df_writer.mean().values,
        "Reader1": df_reader1.mean().values,
        "Reader2": df_reader2.mean().values,
        "Reader3": df_reader3.mean().values,
        "Avg. Readers": df_avg_readers.mean().values,
    },
    index=sentiments,
)
df_mean

                Writer   Reader1   Reader2   Reader3  Avg. Readers
Joy           0.793704  0.399792  0.433380  0.585069      0.464699
Sadness       0.642546  0.237199  0.462917  0.376412      0.351736
Anticipation  0.685764  0.418333  0.404190  0.589236      0.453634
Surprise      0.519375  0.377106  0.217407  0.419398      0.324120
Anger         0.234005  0.047037  0.057315  0.051389      0.049745
Fear          0.297546  0.316412  0.198542  0.341713      0.267639
Disgust       0.376389  0.191806  0.123241  0.411898      0.225972
Trust         0.381782  0.102338  0.050741  0.052685      0.049005

In [5]:
from scipy import stats

for s in sentiments:
    result_ttest = stats.ttest_rel(df[f"Writer_{s}"], df[f"Avg. Readers_{s}"])
    result_anova = stats.f_oneway(
        df[f"Reader1_{s}"],
        df[f"Reader2_{s}"],
        df[f"Reader3_{s}"],
    )

    print(f"[{s}]")
    print(f"Writer-Reader\t{result_ttest}")
    print(f"Reader1-2-3\t{result_anova}")
    print("")

df_writer_all = pd.concat([df[f"Writer_{s}"] for s in sentiments])

df_reader1_all = pd.concat([df[f"Reader1_{s}"] for s in sentiments])

df_reader2_all = pd.concat([df[f"Reader2_{s}"] for s in sentiments])

df_reader3_all = pd.concat([df[f"Reader3_{s}"] for s in sentiments])

df_readers_all = pd.concat([df[f"Avg. Readers_{s}"] for s in sentiments])

result_ttest_all = stats.ttest_rel(df_writer_all, df_readers_all)
result_anova_all = stats.f_oneway(
    df_reader1_all,
    df_reader2_all,
    df_reader3_all,
)

print("[All]")
print(f"Writer-Reader\t{result_ttest_all}")
print(f"Reader1-2-3\t{result_anova_all}")

[Joy]
Writer-Reader	Ttest_relResult(statistic=80.25003417829618, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=554.539042468175, pvalue=1.5539080831810054e-240)

[Sadness]
Writer-Reader	Ttest_relResult(statistic=70.79990578608339, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=975.2687039310326, pvalue=0.0)

[Anticipation]
Writer-Reader	Ttest_relResult(statistic=51.57500149339286, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=643.7468914397273, pvalue=6.3662469253375824e-279)

[Surprise]
Writer-Reader	Ttest_relResult(statistic=47.59330935254756, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=920.1743817944918, pvalue=0.0)

[Anger]
Writer-Reader	Ttest_relResult(statistic=63.14743423810323, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=10.354422552031124, pvalue=3.187797096974353e-05)

[Fear]
Writer-Reader	Ttest_relResult(statistic=8.805663879488794, pvalue=1.3480061821061374e-18)
Reader1-2-3	F_onewayResult(statistic=563.1797375263448, pvalue=2.95737922915519e-244)

[Disgust]
Writer-Reader	Ttest_relResult(statistic=42.07509393492117, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=2240.5851845826373, pvalue=0.0)

[Trust]
Writer-Reader	Ttest_relResult(statistic=87.04160310021147, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=344.6837809653939, pvalue=5.040403492439052e-150)

[All]
Writer-Reader	Ttest_relResult(statistic=159.3269879524803, pvalue=0.0)
Reader1-2-3	F_onewayResult(statistic=2475.6222352972536, pvalue=0.0)

In [6]:
for s in sentiments:
    print("-" * 40, s, "-" * 40)
    df_s = df[
        [
            "Sentence",
            f"Writer_{s}",
            f"Reader1_{s}",
            f"Reader2_{s}",
            f"Reader3_{s}",
        ]
    ]
    df_list = [
        df_s.query(f"Reader1_{s} == Reader2_{s} == Reader3_{s} == {label}")
        for label in range(4)
    ]

    for i, df_s in enumerate(df_list):
        print(f"客観3人の {s} がすべて{i}\t{len(df_s)}")
    print(f"客観3人の {s} が等しい（合計）\t{sum([len(df_s) for df_s in df_list])}")
    print("")

    for i, df_s in enumerate(df_list):
        print(f"客観3人の {s} がすべて{i}")
        display(df_s.head())

---------------------------------------- Joy ----------------------------------------
客観3人の Joy がすべて0	26717
客観3人の Joy がすべて1	480
客観3人の Joy がすべて2	704
客観3人の Joy がすべて3	342
客観3人の Joy が等しい（合計）	28243

客観3人の Joy がすべて0

,Sentence,Writer_Joy,Reader1_Joy,Reader2_Joy,Reader3_Joy
0,ぼけっとしてたらこんな時間｡チャリあるから食べにでたいのに…,0,0,0,0
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,1,0,0,0
3,眠い、眠れない。,0,0,0,0
5,表情筋が衰えてきてる｡まずいな…,0,0,0,0
7,おなかすいた…夜ご飯仲間募集｡,0,0,0,0

客観3人の Joy がすべて1

,Sentence,Writer_Joy,Reader1_Joy,Reader2_Joy,Reader3_Joy
159,はっ！こんな時間。でも慌てて眠らなくていいんだ！コロッケ食べてやる！,3,1,1,1
348,今日行った服屋さんで対応してくれた男の子、かなり乙女系で興味をそそられたので友達になってみた...,1,1,1,1
539,ドリンクは要らないという私にスイーツと水を差し出す前に、コーヒーはお好きですかと聞いてきた。...,3,1,1,1
1026,桃のフルーニュもｽﾁでしたねえ,0,1,1,1
1098,午前中まではマジでこの世の終わりみたいな体調だったけど15時くらいから復活した,1,1,1,1

客観3人の Joy がすべて2

,Sentence,Writer_Joy,Reader1_Joy,Reader2_Joy,Reader3_Joy
6,やばい｡おもろいな?思ってみてみた「シャレードがいっぱい」｡よすぎるやん。,2,2,2,2
27,ヤバい!2700のBO0WY!!,3,2,2,2
49,今週も終わった!そして今から休みだ!明日は祝日か?何しよどこいこ!,3,2,2,2
85,めっちゃ丁度いい光が部屋の窓から差し込む。こうして絵でも描いて暮らしたい。,3,2,2,2
94,今日また、ふらりと入れる店が増えた。お酒もご飯も美味しかったし、何より、何となく温かい店だった。,3,2,2,2

客観3人の Joy がすべて3

,Sentence,Writer_Joy,Reader1_Joy,Reader2_Joy,Reader3_Joy
113,ホットカーペットに寝っ転がってうとうとするのサイコー。,3,3,3,3
121,28歳にして初めて、ガードルなるものを穿きました。すごいなこれ！なんで今まで穿かなかったんだ...,3,3,3,3
130,よっしゃ～終わった！お腹すいた～！,3,3,3,3
146,うまいやん！spa王のフェットチーネうまいやん！泣けるやん！,3,3,3,3
167,みんな！最高の離婚が始まったぞ！,3,3,3,3

---------------------------------------- Sadness ----------------------------------------
客観3人の Sadness がすべて0	28362
客観3人の Sadness がすべて1	319
客観3人の Sadness がすべて2	362
客観3人の Sadness がすべて3	125
客観3人の Sadness が等しい（合計）	29168

客観3人の Sadness がすべて0

,Sentence,Writer_Sadness,Reader1_Sadness,Reader2_Sadness,Reader3_Sadness
1,今日の月も白くて明るい。昨日より雲が少なくてキレイな? と立ち止まる帰り道｡チャリなし生活も...,0,0,0,0
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,1,0,0,0
4,ただいま? って新体操してるやん!外食する気満々で家に何もないのに!テレビから離れられない…!,1,0,0,0
6,やばい｡おもろいな?思ってみてみた「シャレードがいっぱい」｡よすぎるやん。,1,0,0,0
7,おなかすいた…夜ご飯仲間募集｡,1,0,0,0

客観3人の Sadness がすべて1

,Sentence,Writer_Sadness,Reader1_Sadness,Reader2_Sadness,Reader3_Sadness
17,待ち人は来ないのではないかという疑念がふとよぎる｡涼しくなったなぁ｡,1,1,1,1
24,投げかけたものは返ってくるので､なるべく良いものを投げていたいと思う｡しかし時には叶わないこ...,2,1,1,1
40,ご飯食べにいきたい…でも、もう眠いよパトラッシュ…,2,1,1,1
89,悲しくても辛くても、日々を生きなきゃいけなくて、そうしてうやむやにしながら生きていくんだなぁ。,3,1,1,1
101,なにいってんだか…,0,1,1,1

客観3人の Sadness がすべて2

,Sentence,Writer_Sadness,Reader1_Sadness,Reader2_Sadness,Reader3_Sadness
0,ぼけっとしてたらこんな時間｡チャリあるから食べにでたいのに…,1,2,2,2
10,月末ミーティング終了｡いつものことだが自分のミーティング力のなさに凹む。もう走り出すしかない...,2,2,2,2
82,ホームパーティー楽しすぎてお泊まりした帰り道。祭りのあとはいつも寂しい,1,2,2,2
212,夜中から出掛けようと思って、一から化粧したのに結局出掛けずにそのまま寝てしまった。起きたら顔...,1,2,2,2
412,腰が痛い。 遅くまで起きてるといいことないね。,2,2,2,2

客観3人の Sadness がすべて3

,Sentence,Writer_Sadness,Reader1_Sadness,Reader2_Sadness,Reader3_Sadness
115,久しぶりにヤツが来た。ちきしょう、油断してた…コルセット生活、再開!!(T_T),2,3,3,3
140,動物も子供も普通に好きですが、わぁー！って寄っていくのには抵抗があるのです。外から見ててうら...,1,3,3,3
156,マッサージいけばよかった…orz,3,3,3,3
186,"OGG,KBB おなかゴロゴロ、顔ぶっつぶつ。",2,3,3,3
213,久々真面目にお稽古に行こうと思ったら、道具が根こそぎない。久々でそれはダメだろ～っと躍起にな...,1,3,3,3

---------------------------------------- Anticipation ----------------------------------------
客観3人の Anticipation がすべて0	24892
客観3人の Anticipation がすべて1	1273
客観3人の Anticipation がすべて2	256
客観3人の Anticipation がすべて3	297
客観3人の Anticipation が等しい（合計）	26718

客観3人の Anticipation がすべて0

,Sentence,Writer_Anticipation,Reader1_Anticipation,Reader2_Anticipation,Reader3_Anticipation
0,ぼけっとしてたらこんな時間｡チャリあるから食べにでたいのに…,2,0,0,0
1,今日の月も白くて明るい。昨日より雲が少なくてキレイな? と立ち止まる帰り道｡チャリなし生活も...,3,0,0,0
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,1,0,0,0
3,眠い、眠れない。,1,0,0,0
4,ただいま? って新体操してるやん!外食する気満々で家に何もないのに!テレビから離れられない…!,3,0,0,0

客観3人の Anticipation がすべて1

,Sentence,Writer_Anticipation,Reader1_Anticipation,Reader2_Anticipation,Reader3_Anticipation
12,シャンプーいきたい…,2,1,1,1
31,落語…どしよかな…それか映画いこかな。,2,1,1,1
378,己の本分を忘れない。 メモ…,1,1,1,1
606,くしゃみした女子高生に怒鳴るおっさんと咳エチケット出来てないおっさんを戦わせて勝負の行方を見...,0,1,1,1
1030,文脈で判断できかねることもままあると思うよこういうのは ネトゲとか特に丁寧さも大切だけど平易...,0,1,1,1

客観3人の Anticipation がすべて2

,Sentence,Writer_Anticipation,Reader1_Anticipation,Reader2_Anticipation,Reader3_Anticipation
19,みんな幸せになったらいいなって、なんか普通にそう思う。日曜と月曜と火曜会った人たちありがとう...,0,2,2,2
34,今日のアボカドはあじひとで食べるかな!誰か釣れるかな!,2,2,2,2
106,はたと気づけば、生まれてこのかた新幹線に乗ったのは多分一度だけ。新幹線の駅めずらしー！新大阪...,3,2,2,2
228,人生を楽しむ練習をしています。,2,2,2,2
274,ヤバイ。宮沢りえヤバイ。あのCMは、メガネ買お！ってなる！んで赤リップしよ！って、なるやろぉ！,3,2,2,2

客観3人の Anticipation がすべて3

,Sentence,Writer_Anticipation,Reader1_Anticipation,Reader2_Anticipation,Reader3_Anticipation
119,はんばーぐたべたい。,2,3,3,3
123,焼き肉いきたい。,3,3,3,3
124,オムライスでもいいなぁ～♪,3,3,3,3
158,んっ！？何かおもろそうなテレビ始まった！ドラマ？,3,3,3,3
165,今週から観たい映画がめじろ押し。ted、ライフオブパイ、つやのよる、ストロベリーナイト… 話...,3,3,3,3

---------------------------------------- Surprise ----------------------------------------
客観3人の Surprise がすべて0	27467
客観3人の Surprise がすべて1	872
客観3人の Surprise がすべて2	122
客観3人の Surprise がすべて3	150
客観3人の Surprise が等しい（合計）	28611

客観3人の Surprise がすべて0

,Sentence,Writer_Surprise,Reader1_Surprise,Reader2_Surprise,Reader3_Surprise
3,眠い、眠れない。,0,0,0,0
7,おなかすいた…夜ご飯仲間募集｡,0,0,0,0
8,よく寝た。暴走バスの夢見た。からだいたい。,1,0,0,0
10,月末ミーティング終了｡いつものことだが自分のミーティング力のなさに凹む。もう走り出すしかない...,0,0,0,0
12,シャンプーいきたい…,0,0,0,0

客観3人の Surprise がすべて1

,Sentence,Writer_Surprise,Reader1_Surprise,Reader2_Surprise,Reader3_Surprise
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,1,1,1,1
60,ほぼ毎日、パックのジュースをコンビニで買います。今日、袋の中にはジュースと割り箸が入ってまし...,2,1,1,1
97,To be continuedの人、最近キモい人の役多いな…,1,1,1,1
160,"友達がいないと思われたくないからトイレでご飯を食べ、人を雇ってクラブに行く。そうやって""一般...",1,1,1,1
263,絵、うまいなぁ。,3,1,1,1

客観3人の Surprise がすべて2

,Sentence,Writer_Surprise,Reader1_Surprise,Reader2_Surprise,Reader3_Surprise
211,念願の「アラサーちゃん」読了。三角座りで一人、「あははっ」と声を出して笑ったりしながら一気読...,1,2,2,2
551,その件についてよりも、付き合う男はあなたを女王様みたいな気分にさせてくれる人じゃなきゃダメよ...,3,2,2,2
599,全く落ち着きがないのになぜこんなにも色気がある？ 宮本浩次という男。,2,2,2,2
790,ちょめいなかたがたがにおいやあじがわからないというしょうじょうだけでぽりめらーぜれんさはんの...,0,2,2,2
849,酒精綿無くなったらガチでヤバいっしょ,1,2,2,2

客観3人の Surprise がすべて3

,Sentence,Writer_Surprise,Reader1_Surprise,Reader2_Surprise,Reader3_Surprise
138,知り合い見つけて道の反対側から 叫んだら思いの外響いた。私もこんなデカイ声が出るのか… てか...,3,3,3,3
148,へー中山功太改名したんやぁ～ ってうわ！うわうわ！人相変わりすぎやろ！髪形…と、顔…,3,3,3,3
153,ひょう！激しいひょう！,3,3,3,3
200,最近、バターの代わりにパンにクリームチーズを塗って食べるのにはまっています。先程、今日頂いた...,3,3,3,3
266,ふとんをきっちり袋に詰め込み、スイッチON！「うわぁぁーーーー！」「エグい！エグすぎる！」あ...,3,3,3,3

---------------------------------------- Anger ----------------------------------------
客観3人の Anger がすべて0	41118
客観3人の Anger がすべて1	24
客観3人の Anger がすべて2	32
客観3人の Anger がすべて3	77
客観3人の Anger が等しい（合計）	41251

客観3人の Anger がすべて0

,Sentence,Writer_Anger,Reader1_Anger,Reader2_Anger,Reader3_Anger
0,ぼけっとしてたらこんな時間｡チャリあるから食べにでたいのに…,1,0,0,0
1,今日の月も白くて明るい。昨日より雲が少なくてキレイな? と立ち止まる帰り道｡チャリなし生活も...,0,0,0,0
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,0,0,0,0
3,眠い、眠れない。,0,0,0,0
4,ただいま? って新体操してるやん!外食する気満々で家に何もないのに!テレビから離れられない…!,0,0,0,0

客観3人の Anger がすべて1

,Sentence,Writer_Anger,Reader1_Anger,Reader2_Anger,Reader3_Anger
127,忙しくて体痛いし眠いしゲームする余裕がない,0,1,1,1
1270,自分に好意を寄せるオンナは雑に扱ってもいい(雑に扱う方がカッコイイ)と勘違いしている人いるよね,2,1,1,1
1275,結婚式参列者の楽しみなんか御祝儀に合ったウマいメシなんだから腹八分目とか言ってないでほっとい...,2,1,1,1
1326,乳児期打ってくれなかったのほんま恨むで,1,1,1,1
2360,コオロギとエビは成分ほぼ一緒だよっていうやついるけど、それならわいだって本田翼とほぼ同じ成分やぞ,0,1,1,1

客観3人の Anger がすべて2

,Sentence,Writer_Anger,Reader1_Anger,Reader2_Anger,Reader3_Anger
326,ドラマ製作チームの皆さん、 ドラマにおける主題歌、挿入歌の選択は、そのドラマがヒットかする否...,1,2,2,2
693,ツイフェミの味方をするつもりは毛頭ないんだけど、こういう仮想の女性案内員に対してセクハラ質問...,3,2,2,2
694,可愛いねくらいは別にいいと思うけど結婚してるの？はちょっとキモいしスリーサイズ聞いてんのはキ...,3,2,2,2
931,開いてると行っちゃうから閉めろって害悪すぎるわ…,3,2,2,2
984,石鹸の匂いのやつだけ大容量のが売ってたので買った……匂い付きの泡ハンドソープ使うのが趣味なのに,2,2,2,2

客観3人の Anger がすべて3

,Sentence,Writer_Anger,Reader1_Anger,Reader2_Anger,Reader3_Anger
339,久々にはらわたが煮えているのですが、こーゆうとき、どーするんだっけ？ しょーもな過ぎるからガ...,2,3,3,3
554,オーストラリア4ヶ月目。同じ家にいる若い日本男子が電話で誰かと話してる。「ここほんとつまんね...,2,3,3,3
634,当たり前っちゃ当たり前なんだけどまとめサイトとかで新コロ記事取り上げられていると医療の医の字...,3,3,3,3
638,自己中の塊かよ マスクの前にタバコやめろや,3,3,3,3
691,こんなん前からそうだけど本当に許せないよね メディアの医療デマ発信で割食うのは医療従事者と患者,3,3,3,3

---------------------------------------- Fear ----------------------------------------
客観3人の Fear がすべて0	28764
客観3人の Fear がすべて1	484
客観3人の Fear がすべて2	150
客観3人の Fear がすべて3	108
客観3人の Fear が等しい（合計）	29506

客観3人の Fear がすべて0

,Sentence,Writer_Fear,Reader1_Fear,Reader2_Fear,Reader3_Fear
1,今日の月も白くて明るい。昨日より雲が少なくてキレイな? と立ち止まる帰り道｡チャリなし生活も...,0,0,0,0
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,0,0,0,0
6,やばい｡おもろいな?思ってみてみた「シャレードがいっぱい」｡よすぎるやん。,0,0,0,0
7,おなかすいた…夜ご飯仲間募集｡,0,0,0,0
8,よく寝た。暴走バスの夢見た。からだいたい。,1,0,0,0

客観3人の Fear がすべて1

,Sentence,Writer_Fear,Reader1_Fear,Reader2_Fear,Reader3_Fear
426,四年前NHK｢龍馬伝｣で福山雅治の幼少期を演じ、めちゃんこ可愛い！ 可愛すぎる！と話題になっ...,0,1,1,1
1092,え、直球すぎると逆張りしませんか？あたしは好きな人は親友にも隠すので逆張りしちゃいます。女の...,0,1,1,1
1423,今の職場来てから毎日出勤して1時間から1時間半程度で腹痛が起きて軟便が出るようになったの謎体...,0,1,1,1
4004,今日行かないと今週は無理ぽな気がするから無理やりつめつめ,0,1,1,1
4183,家族内インフルエンザ予防接種した方がいい人ランク1なんだがしたくない,1,1,1,1

客観3人の Fear がすべて2

,Sentence,Writer_Fear,Reader1_Fear,Reader2_Fear,Reader3_Fear
632,もう経済の方が心配,0,2,2,2
773,咳から血の匂いしてやっとアレなんか流石におかしい？みたいになって受診するという,0,2,2,2
2628,そして就活はこの前まで「売り手市場だね」とか言ってたけど、今年から求人率が下がってしまった。...,2,2,2,2
3039,名古屋の大雨本当に大丈夫かな。心配でしょうがない,0,2,2,2
3584,最近、買い物するときに値段を気にしなくなったので怖い。,0,2,2,2

客観3人の Fear がすべて3

,Sentence,Writer_Fear,Reader1_Fear,Reader2_Fear,Reader3_Fear
120,今日初めてアスリートみたいに腰に注射したんだけど、なかなか痛くて打つまえより痛くなったんだけ...,3,3,3,3
715,コントロール良好な喘息患者が重症化してえくも使ってるって聞いてドキッとするなどしている,3,3,3,3
950,こわい,3,3,3,3
980,こんなん怖すぎて見れねえよ…………,3,3,3,3
1655,包丁が根元から折れて刃だけ飛んできたときはびびった,3,3,3,3

---------------------------------------- Disgust ----------------------------------------
客観3人の Disgust がすべて0	31551
客観3人の Disgust がすべて1	106
客観3人の Disgust がすべて2	51
客観3人の Disgust がすべて3	162
客観3人の Disgust が等しい（合計）	31870

客観3人の Disgust がすべて0

,Sentence,Writer_Disgust,Reader1_Disgust,Reader2_Disgust,Reader3_Disgust
1,今日の月も白くて明るい。昨日より雲が少なくてキレイな? と立ち止まる帰り道｡チャリなし生活も...,0,0,0,0
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,0,0,0,0
4,ただいま? って新体操してるやん!外食する気満々で家に何もないのに!テレビから離れられない…!,0,0,0,0
5,表情筋が衰えてきてる｡まずいな…,1,0,0,0
6,やばい｡おもろいな?思ってみてみた「シャレードがいっぱい」｡よすぎるやん。,0,0,0,0

客観3人の Disgust がすべて1

,Sentence,Writer_Disgust,Reader1_Disgust,Reader2_Disgust,Reader3_Disgust
333,午前中の来客の予定さえなければ、最高の休日前夜なんだけどなぁ。,0,1,1,1
519,福山さんの手前の駅まで戻る裏技使って一応乗れたけど、これからあのレベルまで乗り込んでくるのか...,1,1,1,1
921,まあ日本でも漂白剤飲んだやつおるしな……,1,1,1,1
942,緊急速報うるさ,3,1,1,1
965,家にいたらそうでもなかったけどちょっと外出たら暑くてしにそうになった 夜なのに,1,1,1,1

客観3人の Disgust がすべて2

,Sentence,Writer_Disgust,Reader1_Disgust,Reader2_Disgust,Reader3_Disgust
641,こいつ医クラにつっかかってた気がするな,3,2,2,2
1261,わざわざ病院に来て「病院が嫌い」とか言う奴何？病院もお前のこと嫌いだから安心して欲しい,3,2,2,2
2309,フェミニストに対しては、男女平等を目指すなら、男性のみ徴兵制の国に対して、女性も徴兵しろって...,0,2,2,2
2315,批判してる女は自分が初音ミクよりいい女だとでも思ってるのか？,0,2,2,2
2396,かっこいい男のカードがあっても男はクレームいれないのに、かわいい女のカードに女はクレーム入れる。,2,2,2,2

客観3人の Disgust がすべて3

,Sentence,Writer_Disgust,Reader1_Disgust,Reader2_Disgust,Reader3_Disgust
213,久々真面目にお稽古に行こうと思ったら、道具が根こそぎない。久々でそれはダメだろ～っと躍起にな...,2,3,3,3
522,もうさぁ、いい加減、まともな大人になりたい。 口の聞き方も知らないチンピラです…私は。,2,3,3,3
554,オーストラリア4ヶ月目。同じ家にいる若い日本男子が電話で誰かと話してる。「ここほんとつまんね...,2,3,3,3
600,ティッシュひと家族ひとつまでなのに2つ買ってるご老人………………………………お前みたいなのの...,3,3,3,3
609,いいぞ??????????！！！！！！！！！！！！転売野郎破産しろ！！！！！！！！！！！！！...,3,3,3,3

---------------------------------------- Trust ----------------------------------------
客観3人の Trust がすべて0	37837
客観3人の Trust がすべて1	15
客観3人の Trust がすべて2	6
客観3人の Trust がすべて3	7
客観3人の Trust が等しい（合計）	37865

客観3人の Trust がすべて0

,Sentence,Writer_Trust,Reader1_Trust,Reader2_Trust,Reader3_Trust
0,ぼけっとしてたらこんな時間｡チャリあるから食べにでたいのに…,1,0,0,0
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,2,0,0,0
3,眠い、眠れない。,1,0,0,0
4,ただいま? って新体操してるやん!外食する気満々で家に何もないのに!テレビから離れられない…!,2,0,0,0
5,表情筋が衰えてきてる｡まずいな…,0,0,0,0

客観3人の Trust がすべて1

,Sentence,Writer_Trust,Reader1_Trust,Reader2_Trust,Reader3_Trust
585,ハードル下げるってだいじ,1,1,1,1
1413,東海オンエアの面白動画の大多数はウンチが絡んでますけどもちろんウンチなしでも彼らは面白いので...,3,1,1,1
2386,傀と1番いい勝負したのは石川、次点で村田,0,1,1,1
3875,転職活動は短期決戦が絶対！\n3ヶ月以内に内定を取ってやるという意気込みがないと成功はしない,1,1,1,1
4023,久々にフレンチトースト作ったけど、やっぱりフランスパンで作るのが美味い。,0,1,1,1

客観3人の Trust がすべて2

,Sentence,Writer_Trust,Reader1_Trust,Reader2_Trust,Reader3_Trust
586,生きれててラッキーとも思うし生きて人生をなんとか紡ごうとしてる自分偉いやんとも思うし、もうち...,2,2,2,2
947,就寝前牛乳教教祖は適職だったんや…,0,2,2,2
3570,一番初めに買った車以外は日産です。,0,2,2,2
5050,新婚時に買った家電で、買い替えたのは6年目くらいで洗濯機と2～3年くらいでスチームオーブンレ...,0,2,2,2
32894,相手の好きなものに関心を寄せる\n\nやりきった日はビール\n疲れた日はカシオレ\nご飯のと...,2,2,2,2

客観3人の Trust がすべて3

,Sentence,Writer_Trust,Reader1_Trust,Reader2_Trust,Reader3_Trust
471,かなり年上の友人との晩餐。 顔を合わせたタイミングでごくたまに開催される年に数回のデート。 ...,3,3,3,3
557,久しぶりにskoop on somebodyを目にする機会があって、うわもうかっこえええええ...,3,3,3,3
961,札幌に旅行行くなら絶対いくべき ノースサファリ,0,3,3,3
1544,爆睡してたわ。どこで落ちたんだろ笑 私以上に疲れてるはずなのにずっと運転してくれるんだから、...,2,3,3,3
14854,友達と飲み会であった。いつも通り「辛いことあるけど楽しいこともあるから生きようぜ！」という結...,1,3,3,3

In [7]:
df.query(
    " and ".join([f"Reader1_{s} == Reader2_{s} == Reader3_{s}" for s in sentiments])
)

,Sentence,UserID,Datetime,Train/Dev/Test,Writer_Joy,Writer_Sadness,Writer_Anticipation,Writer_Surprise,Writer_Anger,Writer_Fear,...,Reader3_Disgust,Reader3_Trust,Avg. Readers_Joy,Avg. Readers_Sadness,Avg. Readers_Anticipation,Avg. Readers_Surprise,Avg. Readers_Anger,Avg. Readers_Fear,Avg. Readers_Disgust,Avg. Readers_Trust
2,早寝するつもりが飲み物がなくなりコンビニへ｡ん､今日、風が涼しいな。,1,2012/08/05 00:50,train,1,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
31,落語…どしよかな…それか映画いこかな。,1,2012/09/24 02:10,train,1,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
60,ほぼ毎日、パックのジュースをコンビニで買います。今日、袋の中にはジュースと割り箸が入ってまし...,1,2012/10/17 03:18,train,1,0,0,2,0,0,...,0,0,0,0,0,1,0,0,0,0
89,悲しくても辛くても、日々を生きなきゃいけなくて、そうしてうやむやにしながら生きていくんだなぁ。,1,2012/11/18 23:45,train,0,3,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
153,ひょう！激しいひょう！,1,2013/01/15 00:54,train,2,0,2,3,0,1,...,0,0,0,0,0,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43112,再チェックが4分の3まで完了。\n今日はココまで。\n\n…これで明日はカフェ＆サウナデーに...,80,2020/02/06 01:22,train,1,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
43144,突然、部屋の電気が消えた。\n\n停電ではない。原因不明。\n\nリラックスしてたので全然気...,80,2020/05/04 23:41,train,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
43151,望まないものをわんさとリコメンドして来るよりも、望むものにたどり着くのをサポートしてくれるシ...,80,2020/05/22 18:27,train,0,1,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
43174,なぜか新潟に行きたい気分。\nタレカツ丼、食べたい…,80,2020/07/08 22:11,train,0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
43184,いきなり窓の外でツクツクボーシが鳴きだした。\n\n…夜11時近いんですが （寝坊した？）,80,2020/08/16 22:52,train,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0